<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="Demo Suite" annotations="JDK" >

    <test name="CreateAccount">
        <classes>
            <class name="TestCreateAccount"/>
        </classes>
    </test>

    <test name="JobSearch">
        <classes>
            <class name="TestJobSearch"/>
        </classes>
    </test>
</suite>